<!--
============================================================================================== 
PAGE TO VIEW SUMMARIES OF RECENT ACTIONS (EG HELP ENABLING) AND CONFIRM OR CANCEL THEM.
REQUIRES ONE OF SEVERAL OPTIONS TO BE SPECIFIED IN THE "Opts" SWITCH PLUS RELATED PARAMETERS, I.E:

    [SF base URL]/Apex/IHConfirmActions?Opts=[confirmation option]&Params=[Parameter string suited to option]

AVAILABLE OPTIONS VALUES ARE:
    1 = Confirm results of help enabling activity
        In which case Params should be:
            [Help Enabled Page URL][D2]
            ["D1" delimited string of elements to be helped][D2]
            ["D1" delimited string of types of the above][D2]
            ["D1" delimited string of elements to be un-helped]
            ["D1" delimited string of types of the above][D2]
        ...where...
            D1 = ControllerSettings.D1 (a non-printable character defined in the Settings Controller)
            D2 = ControllerSettings.D2 (a non-printable character defined in the Settings Controller)
    
    2 = Confirm results of guide enabling activity
        In which case Params should be:
            For each amended Guide Step:
            RL Entry Id[D1]Topic Name[D1]Topic Summary[D1]Step Order[D1]Element Id[D1]Element Type[D1]Flag[D2]
        ...where...
            "Flag" is a value indicating the type of record amendment undertaken:
                A = Added
                E = Edited
                D = To be deleted
                
Martin Little for Improved Apps
May 2013
Copyright (c.) Improved Apps Limited 2013. All Rights Reserved.
============================================================================================== 
 -->

<apex:page standardStylesheets="True" showHeader="False" sidebar="False" 
            title="Improved Help: Confirm Actions"
            controller="iahelp.ControllerConfirmActions"
            action="{!showActions}">

    <head>
        <title>Improved Help: Confirm Actions</title>
        <meta name='Description' content='Improved Help Copyright (c.) Improved Apps Limited 2013. All Rights Reserved.' />     
        
        <apex:stylesheet value="{!BrandCSS}" /> 
        <apex:stylesheet value="{!URLFOR($Resource.iahelp__IHResources, '/css/help_main.css')}" />
        
        <apex:includeScript value="{!URLFOR($Resource.iahelp__IHResources, '/js/jsEditHelp.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.iahelp__IHResources, '/js/jsQAMenu.js')}" />
        
        <script type='text/javascript'>
            
            function initialise() {         
                // Ensure tools buttons adopt IH look and feel for tasks in progress
                initialiseButtons();                
                return;         
            }
            
            
            // Respond to any inter-window messages
            window.onmessage = function (e) {

                // Message = help topic has been selected
                if (e.data.substring(0,9) == 'Opt7HTID=') {
                    // Retrieve the message body
                    var msg = e.data.substring(9);

                    // Split this into its 2 parts: HTID [delim] Referring Control
                    // (See also search results page code)
                    var mParms = msg.split('{!D1}');

                    // Set control (selected by class, as set below) to HTID value                  
                    $j("." + mParms[1]).prop("value", mParms[0]);
                }
                
            }
        </script>       
        
        
        <style>
            .IHRowAdded     {background-color: #c6efce;}
            .IHRowEdited    {background-color: #ffeb9c;}
            .IHRowDeleted   {background-color: #ffc7ce;}
        </style>
                   
    </head>
    

    <body class='Dialogue IHConfirm' onload='javascript:initialise();'>     
        
        <apex:include pageName="iahelp__IHHook"/>
<!--  
===============================================
HEADER / TITLE AREA
===============================================
 -->            
        
        <div class='IHDialogue IHPanel'>
            <apex:form >                
                <div class='IHPanelHeader'>
                    <div class='IH-H3'>
                        <apex:outputText value="Please confirm your actions" />
                    </div>              
                </div>
                
                
                <div class="IHPanelBody" style="height: 280px; padding: 0; margin: 0; overflow-y: auto;" >

<!--  
===============================================
OPTION 1 / CONFIRM HELP ENABLING
===============================================
 -->            
                    <apex:pageBlock rendered="{!IF(Opts == '1', true, false)}">

                        <div class="IHSearchResultsList">
                            <p>Page Layout: {!HPLName}{!IF(HPLIsNew == true, ' (new)', '')}</p>
                            <hr/>
                            
                            <apex:dataTable var="HE" value="{!elemsC}" rowClasses="odd, even"> 
                                <apex:variable var="SafeSpace" value=" "/>
                                <apex:variable var="SafeBlank" value=""/>
                                                    
                                <apex:column style="width: 50%;">
                                    <apex:facet name="header">
                                        <div class="IHListColumnHeading">                                
                                            Helped Elements to be created:
                                        </div>
                                    </apex:facet>
                                    
                                    <apex:inputCheckbox title="Check to help enable {!HE.Summary} {!HE.Name}" value="{!HE.Link}" />                             
                                    <div title="Element type: {!HE.Summary}" style="margin-left: 10px; float: left;" class="IHIcon16 IHIcon{!SUBSTITUTE(HE.Summary, ' ', '')}"></div>
                                    {!HE.Name}
                                </apex:column>
                                
                                <apex:column >
                                    <apex:facet name="header">
                                        <div class="IHListColumnHeading">                                   
                                            To re-use existing an Help Topic, enter its ID:
                                        </div>
                                    </apex:facet>
                                                                    
                                    <apex:inputText styleClass="{!SUBSTITUTE(HE.Name, SafeSpace, SafeBlank)}" title="Existing Help Topic (ID) to open with this Helped Element" value="{!HE.Id}" />                             
                                    <div onclick='javascript:DoDialogue(getVFRoot(document.location.href) + "/apex/IHSearchResults?Opts=7&Referrer={!SUBSTITUTE(HE.Name, SafeSpace, SafeBlank)}", 0, 0, 800, 400, "_HelpedElements");' style="margin-left: 10px; float: left; cursor: pointer;" title='Search for an existing Help Topic to open with this new Element' class="IHIcon16 IHIconSearchHelp"></div>                                                                
                                </apex:column>
                            </apex:dataTable>
                            <hr/>
    
    
                            <apex:dataTable var="HE" value="{!elemsD}" rowClasses="odd, even">                      
                                <!-- NB: For deletes, summary is in the form Allow Delete Flag [D2] HTID [D1] Element Type -->
                                <apex:variable var="SumSplit1" value="{!FIND(D1, HE.Summary)}"/>
                                <apex:variable var="SumSplit2" value="{!FIND(D2, HE.Summary)}"/>
    
                                <!-- NB: For deletes, name is in the form Element Id [D1] Element descriptive text -->
                                <apex:variable var="NameSplit1" value="{!FIND(D1, HE.Name)}"/>
    
                                <apex:column style="width: 50%;">
                                    <apex:facet name="header">
                                        <div class="IHListColumnHeading">                                
                                            Helped Elements to be deleted:
                                        </div>
                                    </apex:facet>
    
                                    <apex:inputCheckbox title="Check to un-help {!MID(HE.Summary, SumSplit1 + 1, LEN(HE.Summary) - SumSplit1)} {!MID(HE.Name, NameSplit1 + 1, LEN(HE.Name) - NameSplit1)}" value="{!HE.Link}" />                                
                                    <div title="Element type: {!MID(HE.Summary, SumSplit1 + 1, LEN(HE.Summary) - SumSplit1)}" style="margin-left: 10px; float: left;" class="IHIcon16 IHIcon{!SUBSTITUTE(MID(HE.Summary, SumSplit1 + 1, LEN(HE.Summary) - SumSplit1), ' ', '')}"></div>                             
                                    {!MID(HE.Name, NameSplit1 + 1, LEN(HE.Name) - NameSplit1)}
                                </apex:column>

                                <apex:column >           
                                    <apex:facet name="header">
                                        <div class="IHListColumnHeading">                                
                                            Delete associated Help Topic?
                                        </div>
                                    </apex:facet>                   
     
                                    <div style="display: {!IF(LEFT(HE.Summary, SumSplit2 - 1) == '1' , 'none', 'block')};">
                                        <apex:inputCheckbox title="Check to delete the Help Topic associated with this Element" value="{!HE.Id}" />
                                    </div> 
                                </apex:column>
                            </apex:dataTable>
                            <hr/>                       
                            
                        </div>
                    </apex:pageBlock>
                    
 <!--  
===============================================
OPTION 2 / CONFIRM GUIDE ENABLING
===============================================
 -->            
                    <apex:pageBlock rendered="{!IF(Opts == '2', true, false)}">

                        <div class="IHSearchResultsList">
    
                            <p>Guide: {!HPLName}</p>
                            <hr/>
                            
                            <apex:dataTable var="Step" value="{!elemsC}" rowClasses="odd, even"> 
                                <apex:column style="width: 50%;">

                                    <apex:facet name="header">
                                        <div class="IHListColumnHeading">
                                            ADD / EDIT the Guide Steps checked below: 
                                        </div>
                                    </apex:facet>
                                    
                                    <apex:inputCheckbox title="Check to update step {!Step.Name}" value="{!Step.Link}" />                             
                                    <div title="{!SUBSTITUTE(Step.Summary, D1, ': ')}" style="margin-left: 10px; float: left;" class="IHIcon16 IHIconGuideEnable"></div>                             
                                    
                                    <span class="{!IF(RIGHT(Step.Summary, 2) == D1 + 'A', 'IHRowAdded', 'IHRowEdited')}">
                                        {!Step.Name}
                                    </span>

                                </apex:column>
                            </apex:dataTable>
                            <hr/>
                            
                            
                            <apex:dataTable var="Step" value="{!elemsD}" rowClasses="odd, even"> 
                                <apex:column style="width: 50%;">

                                    <apex:facet name="header">
                                        <div class="IHListColumnHeading">
                                            DELETE the Guide Steps checked below: 
                                        </div>
                                    </apex:facet>
                                    
                                    <apex:inputCheckbox title="Check to delete step {!Step.Name}" value="{!Step.Link}" />                             
                                    <div title="{!SUBSTITUTE(Step.Summary, D1, ': ')}" style="margin-left: 10px; float: left;" class="IHIcon16 IHIconDelete"></div>                             
                                    
                                    <span class="IHRowDeleted">
                                        {!Step.Name}
                                    </span>

                                </apex:column>
                            </apex:dataTable>
                            <hr/>
                            
                        </div>
                    </apex:pageBlock>
                                                        
<!--  
===============================================
FOOTER / DIAGS
===============================================
 -->    
                </div>

                <div class="IHPanelFooter" style="height: 50px; padding: 0;">
                    <table><tr>
                        <td>
                            <div style="display: {!IF(optionalFeaturesSave == false, 'inline', 'none')};">
                                <div style="margin-left: 10px; float: left;" class='IHIcon32 IHIconSaveUnavailable'></div>
                            </div>
                            
                            <div style="margin-left: 10px; display: {!IF(optionalFeaturesSave == true, 'inline', 'none')};">
                                <apex:commandButton action="{!saveChanges}" 
                                                    styleclass="IHIcon24 IHIdle IHIconSave" 
                                                    image="{!URLFOR($Resource.iahelp__IHResources, '/img/IconSave.png')}"
                                                    title="Save changes as confirmed above" 
                                                    onclick="javascript:showClicked(this);"
                                                    oncomplete="confirmComplete(this, '{!JSENCODE(Diags)}');" />
                            </div>
                        </td>
                        
                        <td>
                            <span class='IHError'>
                                {!Diags}
                            </span>
                        </td>
                    </tr></table>
                </div> 
                
            </apex:form>
        </div>
    </body>
</apex:page>