<!--
============================================================================================== 
IH SERVICE UNAVAILABLE PAGE.
USER WILL BE DIRECTED TO THIS IN CASES WHERE SETTINGS OR SUBSCRIPTION ARE INCORRECTLY CONFIGURED

Martin Little for Improved Apps
July 2013
Copyright (c.) Improved Apps Limited 2013. All Rights Reserved.
============================================================================================== 
 -->

<apex:page standardStylesheets="False" showHeader="true" sidebar="true" 
                title="Improved Help: Service Unavailable"  
                controller="iahelp.ControllerHelpContent"
                action="{!checkServiceUnavailable}">

    <head>
        <title>Improved Help: Service Unavailable</title>
        <meta name='Description' content='Improved Help Copyright (c.) Improved Apps Limited 2013. All Rights Reserved.' />     
        <apex:stylesheet value="{!BrandCSS}" />
        <apex:stylesheet value="{!URLFOR($Resource.iahelp__IHResources, '/css/help_main.css')}" />  
    </head>    

    <body class='Dialogue'>

        <apex:form >

            <!-- IF CSS/SETTINGS PRESENT, ISSUE IS PROBABLY SUBSCRIPTION -->
            <div id='ServiceUnavailable' class='IHDialogue IHPanel' style="display: {!IF(BrandCSS != '', 'block', 'none')};">

                <div class='IHPanelHeader'><div class='IH-H3'>Improved Help Not Available</div></div>
                                                
                <div class="IHPanelBody" style="padding: 10px;">
                    <span>There appears to be an issue with the Improved Help subscription for your Org.<br/>
                    <br/>
                    Please check the Improved Help Document folder and ensure that it contains a valid, current subscription file.</span>
                </div>

                <div class="IHPanelFooter" style="height: 16px;"></div>              
            </div>
            
            
            <!-- LACK OF BRAND CSS IS SYMPTOMATIC OF LACK OF SETTINGS -->                
            <div id='ServiceUnavailable' class='IHDialogue IHPanel' style="display: {!IF(BrandCSS == '', 'block', 'none')};">

                <div style='font-weight: bold; font-size: 16px; color: red;'>Improved Help Not Available</div>
                                
                <div class="IHPanelBody">
                    <span><br/>There appears to be an issue with the configuration of Improved Help.<br/>
                    <br/>
                    Please check the Improved Help App's Help Settings tab for more information.</span>
                </div>

                <div class="IHPanelFooter" style="height: 16px;"></div>              
            </div>
            
        </apex:form>
    </body>
</apex:page>