<!--
============================================================================================== 
HELP TOPIC TEMPLATE DESIGNED TO OFFER A PRINTABLE VIEW OF A HELP TOPIC. 
REQUIRES EITHER A HELP TOPIC (HTID) OR HELPED ELEMENT ID (ElemID) 
PLUS HELPED PAGE LAYOUT IDENTIFIER (HPL), I.E:

    [SF base URL]/Apex/[VF Page Name]?HTID=[topic id]
    ...OR...
    [SF base URL]/Apex/[VF Page Name]?ElemID=[helped element id]&HPL=[helped page layout identifier]

Martin Little for Improved Apps
July 2012
Copyright (c.) Improved Apps Limited 2012. All Rights Reserved.
============================================================================================== 
 -->

<apex:page standardStylesheets="False" showHeader="False" sidebar="False" 
                title="Improved Help: Printable View"
                controller="iahelp.ControllerHelpContent"
                action="{!getHelp}" 
                contentType="{!ContentType}">

<!--
SET contentType TO "application/msword" TO SEND CONTENT TO AN HTML FILE THAT CAN BE OPENED IN WORD 
 -->


	<head>
		<title>Improved Help: Printable View</title>
		<meta name='Description' content='Improved Help Copyright (c.) Improved Apps Limited 2012. All Rights Reserved.' />		
	    <apex:stylesheet value="{!BrandCSS}" />
	    <apex:stylesheet value="{!URLFOR($Resource.iahelp__IHResources, '/css/help_main.css')}" />	
	</head>

    <body class='Page'>
        <apex:form >
        
            <div id="PrintableView">
                    
                <div class="IH-H1">
                    <apex:outputText escape="true" value="{!TName}"></apex:outputText>
                </div>
                
                <div class="IH-H2">
                    <apex:outputText escape="true" value="{!TSummary}"></apex:outputText>
                </div>  
    
                <div class="PrintableViewContent">
                    <div class="IH-H4">
                        Topic Description
                    </div>
                    <apex:outputText escape="false" value="{!TDescription}"></apex:outputText>
                </div>
                
                <div class="PrintableViewContent">
                    <div class="MediaTitle">
                        <apex:outputText value="{!TImageTitle}" escape="true"></apex:outputText>
                    </div>
                    
                    <div>
                        <apex:image alt="{!TImageTitle}" url="{!TImageURL}" width="{!TImageWidth}" height="{!TImageHeight}" style="border: none;'"></apex:image>
                    </div>
                    
                    <div class="MediaCaption">
                        <apex:outputText value="{!TImageCaption}" escape="true"></apex:outputText>
                    </div>
                </div>
                            
                <div class="PrintableViewContent">
                
                    <div class="PrintableViewWarning" > 
                        <apex:outputText value="{!TPrintWarning}" escape="true"></apex:outputText>
                        This Topic is scheduled to be reviewed before {!ReviewDate}.
                    </div>
                
                    <p>For updated information, please visit:
                    <a href='{!TRootLink}/apex/IHTools?HTID={!THelpId}' title='Click to see this Topic in the Portal'>
                        {!TRootLink}/apex/IHTools?HTID={!THelpId}
                    </a></p>

					<div style="display: {!IF(Settings.EnableExportDocHT__c == false, 'none', 'block')};">
	                    <div style="display: {!IF(ContentType !='', 'none', 'block')};">
		                    <p>Export Topic as 
			                    <a href='{!TRootLink}/apex/TemplatePrintable?HTID={!THelpId}&ContentType=1' title='Click to download Topic as HTML file'>
			                        HTML (includes media)
			                    </a> |
			                    <a href='{!TRootLink}/apex/IHExportDoc?HTID={!THelpId}' title='Click to download Topic as Office-compatible XML file'>
			                        XML (text only)
			                    </a>	                     
		                    </p>
	                    </div>
					</div>                    

                </div>
                
                <div id='IHPowered'>
                    Powered by Improved Help from ImprovedApps.com ...there is an easier way...
                </div>

            </div>
            
        </apex:form>
    </body>
</apex:page>