<apex:page standardController="ianb__Notification__c" extensions="ianb.ControllerExtensionRecipient" showHeader="true" sidebar="true" tabStyle="ianb__Notification__c">	
	<style>
      .bPageTitle .ptBody .content { width: 95%; }
   </style>
   <apex:stylesheet value="{!URLFOR($Resource.ianb__noticeboard_resources, 'noticeboard_resources/css/recipientview.css')}"/>
   <apex:includeScript value="{!URLFOR($Resource.ianb__noticeboard_resources, 'noticeboard_resources/js/jquery-1.5.1.min.js')}"/>
	<apex:form >
	   <apex:outputPanel rendered="{!ISNULL(notification.ianb__OpenedDate__c)}" layout="none">
		   <script type="text/javascript">		
			(function($) {
				$(document).ready(function(){
					setOpenedStatus();
				});
			})(jQuery);
	   		</script>
	  	</apex:outputPanel>
	   	<apex:outputPanel id="updateTimerScript" rendered="{!AND(IsAcknowledgeAvailable, NOT(ISNULL(notification.ianb__RequiredActionDeadline__c)), notification.ianb__RequiredActionDeadline__c - NOW() > 0)}" layout="none">
		   <script type="text/javascript">		
			(function($) {
				$(document).ready(function(){
					window.setTimeout(function(){ updateTimerString(); }, 60000);
				});
			})(jQuery);
	   		</script>
	  	</apex:outputPanel>
	   	<script type="text/javascript">		
			function tryUpdateTimerString() {
				if (document.getElementById('{!$Component.txtTimer}').innerHTML.indexOf('<span><b>00</b></span>:<span><b>00</b></span>:<span><b>00</b></span> (Days:Hours:Minutes)') < 0) {
					window.setTimeout(function(){ updateTimerString(); }, 60000);
				}
			}	
   		</script>	  	
		<table width="100%">
			<tr>
				<td id="sectionHeaderCell"><apex:sectionHeader subtitle="{!notification.ianb__Title__c}" title="Notification"></apex:sectionHeader></td>
				<td rowspan="2" id="themeImageCell"><apex:image style="max-width:172px;" height="100px" value="{!ThemeImageUrl}" rendered="{!AND(NOT(ISNULL(ThemeImageUrl)), NOT(BEGINS(ThemeImageUrl, 'javascript:')))}" /></td>
			</tr>
			<tr>
				<td id="urgencyPanel">
					<apex:outputPanel id="urgencyDiv" layout="block" rendered="{!AND(IsAcknowledgeRequired, ISNULL(notification.ianb__AcknowledgedDate__c), NOT(ISNULL(notification.ianb__RequiredActionDeadline__c)))}">
						<table id="urgencyTable">
							<tr>
								<td><table><tr><td>Urgency:</td><td><apex:outputText value="{!UrgencyImageString}" escape="false"/></td></tr></table></td>
								<td style="vertical-align:middle;">Acknowledge by:&nbsp;<apex:outputField value="{!notification.ianb__RequiredActionDeadline__c}"/></td>
								<td style="vertical-align:middle;">Time remaining:&nbsp;<apex:outputText id="txtTimer" value="{!CountdownTimerString} (Days:Hours:Minutes)" escape="false"/></td>
							</tr>
						</table>
					</apex:outputPanel>
				</td>
			</tr>
		</table>
		<apex:pageMessages />
		<apex:actionFunction name="updateTimerString" action="{!updateCountdownTimerString}" rerender="urgencyDiv,updateTimerScript" oncomplete="tryUpdateTimerString();" />
		<apex:actionFunction name="setOpenedStatus" action="{!SetOpenedStatus}" rerender="sctStatus" />
	    <div style="padding:0 3px 0 5px;">
	    <apex:pageBlock mode="maindetail">
		    <apex:outputPanel layout="block" styleClass="bordered-section nofirst" rendered="{!AND(IsAcknowledgeRequired, ISNULL(notification.ianb__AcknowledgedDate__c))}">
			    <apex:pageBlockSection showHeader="false" columns="1" rendered="{!AND(NOT(ISNULL(notification.ianb__AcknowledgementStatement__c)), IsAcknowledgeAvailable)}">
			        <apex:outputField value="{!notification.ianb__AcknowledgementStatement__c}"/>              
				</apex:pageBlockSection>
				<apex:outputPanel layout="block" styleClass="inner-section" rendered="{!IsAcknowledgeAvailable}">
	           		<apex:commandButton action="{!acknowledge}" value="Acknowledge"/>&nbsp;
	            	<apex:commandButton action="{!acknowledgewithexceptions}" value="Acknowledge and Flag" rendered="{!notification.ianb__ResponseOption__c == 'Acknowledge / Acknowledge & Flag'}"/>	        	
		    	</apex:outputPanel>
		    	<apex:outputPanel layout="block" styleClass="inner-section" rendered="{!IsOpenedByAnothers}">
					<apex:outputText value="Pending Acknowledgement"/>	           		        	
		    	</apex:outputPanel>
			</apex:outputPanel>
		    <apex:outputPanel layout="block" styleClass="bordered-section nofirst">
			    <apex:pageBlockSection showHeader="false" columns="2">       
		            <apex:outputField value="{!notification.ianb__Signatory__c}"/>
		            <apex:outputField value="{!notification.ianb__PublishedDate__c}"/>
			    </apex:pageBlockSection>
		    </apex:outputPanel>
		    <apex:outputPanel layout="block" styleClass="bordered-section nofirst" rendered="{!OR(NOT(ISNULL(notification.ianb__Summary__c)), NOT(ISNULL(NotificationDetails)))}">
			    <apex:pageBlockSection showHeader="false" columns="1">
		        	<apex:outputField value="{!notification.ianb__Summary__c}" rendered="{!NOT(ISNULL(notification.ianb__Summary__c))}" />
		            <apex:pageBlockSectionItem rendered="{!NOT(ISNULL(NotificationDetails))}">
	                	<apex:outputText value="Detail"/>
	                	<apex:outputText value="{!NotificationDetails}" escape="false"/>
	                </apex:pageBlockSectionItem>
			    </apex:pageBlockSection>
		    </apex:outputPanel>
		    <apex:outputPanel id="sctStatus" layout="block" styleClass="bordered-section nofirst" rendered="{!OR(NOT(ISNULL(notification.ianb__DisplayedDate__c)),NOT(ISNULL(notification.ianb__OpenedDate__c)),NOT(ISNULL(notification.ianb__AcknowledgedDate__c)))}">
			 	<div class="bordered-section-header"><h3>Notification Status</h3></div>
			    <apex:pageBlockSection showHeader="false" columns="2" collapsible="false">
			        <apex:outputText rendered="{!ISNULL(notification.ianb__DisplayedDate__c)}" />
			        <apex:pageBlockSectionItem rendered="{!NOT(ISNULL(notification.ianb__DisplayedDate__c))}">
	         			<apex:outputText value="Displayed in {!RecipientName} Notification Banner on:"/>
	       				<apex:outputField value="{!notification.ianb__DisplayedDate__c}"/>
			        </apex:pageBlockSectionItem>
			        <apex:outputText rendered="{!ISNULL(notification.ianb__OpenedDate__c)}" />
			        <apex:pageBlockSectionItem rendered="{!NOT(ISNULL(notification.ianb__OpenedDate__c))}">
	         			<apex:outputText value="Opened by {!RecipientName} on:"/>
	      				<apex:outputField value="{!notification.ianb__OpenedDate__c}"/>
			     	</apex:pageBlockSectionItem>
			        <apex:pageBlockSectionItem >
	         			<apex:outputText value="Related NoticeBoard:"/>
	      				<apex:outputText value="{!NoticeBoardName}"/>
			     	</apex:pageBlockSectionItem>			     	
			  		<apex:pageBlockSectionItem rendered="{!AND(NOT(notification.ianb__AcknowledgedAndFlagged__c), NOT(ISNULL(notification.ianb__AcknowledgedDate__c)))}">
	         			<apex:outputText value="Acknowledged by {!RecipientName} on:"/>
	      				<apex:outputField value="{!notification.ianb__AcknowledgedDate__c}"/>
			     	</apex:pageBlockSectionItem>
			     	<apex:pageBlockSectionItem rendered="{!AND(notification.ianb__AcknowledgedAndFlagged__c, NOT(ISNULL(notification.ianb__AcknowledgedDate__c)))}">
	         			<apex:outputText value="Flagged by {!RecipientName} on:"/>
	      				<apex:outputField value="{!notification.ianb__AcknowledgedDate__c}"/>
			     	</apex:pageBlockSectionItem>
			    </apex:pageBlockSection>
		    </apex:outputPanel>
		</apex:pageBlock>
		</div>
	</apex:form>
</apex:page>